name: Iteration 1 - Build and Scan

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -f Dockerfile.vulnerable -t secure-app:latest .

      - name: Trivy scan (fail on HIGH/CRITICAL)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: secure-app:latest
          format: table
          severity: HIGH,CRITICAL
          exit-code: 1
          ignore-unfixed: true